.vs/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebug*/
[Rr]elease/
[Rr]elease*/
x64/
x86/
[Bb]uild/
[Tt]est[Rr]esult*/
*.user
*.suo
*.userprefs
*.log
*.cache
*.pdb
*.opendb
*.VC.db
*.db
packages/
!packages/build/
!packages/repositories.config
[Pp]ublish/
**/*.pubxml
**/*.pubxml.user
_ReSharper*/
*.DotSettings.user